.featured-about {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}


.about__desc {
    margin-right: 20px;
    width: 50%;
    padding: 5px;
}

.about__suggestion {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.pab__text {
    text-align: right;
}

.about__suggestion__cards {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}

.card {
    margin-left: 20px;
}

@media (max-width:750px) {
    .pab__text {
        text-align: initial;
    }

    .featured-about {
        flex-direction: column;
    }

    .about__desc {
        width: 100%;
    }

    .about__suggestion {
        width: 100%;
    }

    .about__suggestion__cards {
        display: flex;
        justify-content: space-between;
        margin-left: 0px;
    }

    .card {
        margin-left: 0px;
        width: 100%;
    }

    .card:not(:last-child) {
        margin-right: 30px;
    }
}