.main-container {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media (max-width:850px) {
  .main-container {
    margin: 20px 40px;
  }
}