.product__middle {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.category__selection {
    flex: 1;
}

@media (max-width:850px) {
    .category__selection {
        display: none;
    }
}